*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}



body{
  background-color: #23272E;
  color: white;
}

h1{
  text-align: center;
}
h2{
  margin: .5rem;
}






















